USE [Lowcode]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 5/11/2021 11:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[ItemId] [int] NULL,
	[FileName] [nvarchar](450) NULL,
	[FilePath] [nvarchar](max) NULL,
	[ContentType] [nvarchar](250) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Attachment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 5/11/2021 11:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[Description] [nvarchar](450) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DynamicForm]    Script Date: 5/11/2021 11:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DynamicForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Description] [nvarchar](450) NULL,
	[TableName] [nvarchar](250) NULL,
	[Content] [nvarchar](max) NULL,
	[Path] [nvarchar](250) NULL,
	[ApiInfo] [nvarchar](4000) NULL,
 CONSTRAINT [PK_DynamicForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DynamicFormApi]    Script Date: 5/11/2021 11:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DynamicFormApi](
	[Id] [int] NOT NULL,
	[FormId] [int] NOT NULL,
	[ApiType] [int] NOT NULL,
	[ApiUrl] [nvarchar](2000) NULL,
	[ApiQuery] [nvarchar](2000) NULL,
	[ApiParameters] [nvarchar](2000) NULL,
 CONSTRAINT [PK_DynamicFormApi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DynamicList]    Script Date: 5/11/2021 11:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DynamicList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[QueryInfo] [nvarchar](4000) NOT NULL,
	[SearchInfo] [nvarchar](max) NOT NULL,
	[ListInfo] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_DynamicList] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/11/2021 11:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](1500) NULL,
	[Title] [nvarchar](250) NULL,
	[Permissions] [nvarchar](1500) NULL,
	[Level] [int] NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableColumn]    Script Date: 5/11/2021 11:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableColumn](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableId] [int] NOT NULL,
	[ColumnName] [nvarchar](250) NOT NULL,
	[DataType] [nvarchar](250) NOT NULL,
	[Nullable] [bit] NOT NULL,
 CONSTRAINT [PK_TableColumn] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableName]    Script Date: 5/11/2021 11:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableName](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](250) NULL,
 CONSTRAINT [PK_TableName] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/11/2021 11:51:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Birthday] [datetime2](7) NULL,
	[FullName] [nvarchar](200) NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NULL,
	[Gender] [bit] NULL,
	[Mobile] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[Status] [int] NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NULL,
	[CreatedBy] [int] NOT NULL,
	[UpdatedBy] [int] NULL,
	[UserRoles] [nvarchar](2000) NULL,
	[UserModifiedTimeStamp] [uniqueidentifier] NOT NULL,
	[AccountType] [int] NULL,
	[ObjectId] [int] NULL,
	[Factory] [nvarchar](50) NULL,
	[WorkingPackageId] [int] NULL,
	[WhiteList] [nvarchar](1000) NULL,
 CONSTRAINT [PK_v2_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Attachments] ON 

INSERT [dbo].[Attachments] ([Id], [TableName], [ItemId], [FileName], [FilePath], [ContentType], [CreatedDate]) VALUES (1, N'Task', 2, N'bg.png', N'C:\www\wgd\vnl-smart.api\Upload\5a78f906-96f1-4ad4-9a4a-02d0ab1cf361..png', N'image/png', CAST(N'2020-03-29T20:11:18.660' AS DateTime))
INSERT [dbo].[Attachments] ([Id], [TableName], [ItemId], [FileName], [FilePath], [ContentType], [CreatedDate]) VALUES (2, N'Task', 2, N'wgd-bg7.jpg', N'C:\www\wgd\vnl-smart.api\Upload\2a0eb6ba-90c4-4052-8628-4cba9ba32011..jpg', N'image/jpeg', CAST(N'2020-04-01T00:02:10.483' AS DateTime))
INSERT [dbo].[Attachments] ([Id], [TableName], [ItemId], [FileName], [FilePath], [ContentType], [CreatedDate]) VALUES (3, N'Task', 2, N'wgd-bg8.jpg', N'C:\www\wgd\vnl-smart.api\Upload\caad944e-65b6-489a-93b1-ed554af4639e..jpg', N'image/jpeg', CAST(N'2020-04-01T00:02:15.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[Attachments] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([Id], [CountryName], [Description]) VALUES (1, NULL, N'Viet Nam1')
INSERT [dbo].[Country] ([Id], [CountryName], [Description]) VALUES (2, N'Việt Nam', N'Đất nước hình chữ s tươi đẹp')
INSERT [dbo].[Country] ([Id], [CountryName], [Description]) VALUES (3, N'0', N'0')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[DynamicForm] ON 

INSERT [dbo].[DynamicForm] ([Id], [Name], [Description], [TableName], [Content], [Path], [ApiInfo]) VALUES (3, N'2', N'2', N'Table1', N'{"id":"0007c081-a209-4e0d-8633-13b7b75b7bd5","cells":[{"id":"af793fc8-d921-44a6-a146-67329f55223d","inline":null,"size":12,"content":{"plugin":{"name":"EmptyContent","version":"0.0.1"},"state":{}}}]}', N'2', NULL)
SET IDENTITY_INSERT [dbo].[DynamicForm] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [Title], [Permissions], [Level]) VALUES (2, N'Ban giám đốc', N'BOD', N'BOD', N';42;1;2;11;12;14;43;106;105;107;13;44;160;162;163;155;165;164;146;145;191;190;182;181;180;115;116;120;125;130;135;140;167;166;147;150;100;110;111;149;148;156;192;161;121;194;193;200;307;306;305;304;300;301;302;303;308;310;311;312;313;314;315;316;317;318;319;108;321;320;', 2)
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [Title], [Permissions], [Level]) VALUES (3, N'Quản lý', N'PM', N'PM', N';12;13;11;14;100;135;162;160;165;', 4)
INSERT [dbo].[Roles] ([Id], [RoleName], [Description], [Title], [Permissions], [Level]) VALUES (5, N'Director', N'Director ', N'Director ', N';13;130;135;115;', 3)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TableName] ON 

INSERT [dbo].[TableName] ([Id], [TableName]) VALUES (1, N'ABC')
SET IDENTITY_INSERT [dbo].[TableName] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

SET IDENTITY_INSERT [dbo].[User] OFF
GO
